@font-face {
    font-family: Papyrus;
    src: url(res/papyrus.ttf);
}

@font-face {
    font-family: Comic;
    src: url(res/comicsans.ttf);
}

body {
    color: white;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    padding-top: calc(1em + var(--standard-padding) * 2); /* for the header */
    box-sizing: border-box;
    justify-content: stretch;
    align-items: stretch;
    --standard-padding: 10px;
    --button-bg: darkblue;
    --button-hovered: purple;
    --standard-highlight1: crimson;
    --standard-highlight2: blueviolet;
    --standard-highlight3: rgb(51, 23, 51);
    --standard-highlight4: rgb(92, 70, 74);
    font-family: sans-serif;
    --editor-font: monospace;
}

body.paddings-noasitol {
    --standard-padding: 1px;
}

body.paddings-thicc {
    --standard-padding: 50px;
}

body.colors-flat {
    --button-bg: #888;
    --button-hovered: #999;
    --standard-highlight1: black;
    --standard-highlight2: black;
    --standard-highlight3: #444;
    --standard-highlight4: #333;
}

body.colors-minimal {
    --button-bg: #888;
    --button-hovered: black;
    --standard-highlight1: black;
    --standard-highlight2: black;
    --standard-highlight3: #222;
    --standard-highlight4: #222;
}

body.colors-light {
    color: black;
    --button-bg: white;
    --button-hovered: grey;
    --standard-highlight1: #AAA;
    --standard-highlight2: #AAA;
    --standard-highlight3: white;
    --standard-highlight4: #EEE;
}

body.fonts-lsd {
    font-family: Papyrus;
    --editor-font: Comic;
}

body.fonts-beep {
    font-family: monospace;
}

#header {
    background-color: black;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
    color: white;
    padding: var(--standard-padding);
    box-sizing: border-box;
}

#nav {
    background-color: var(--standard-highlight3);
    overflow-x: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 2px;
}

body > div {
    width: 100%;
}

#content {
    box-sizing: border-box;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--standard-highlight4);
    font-family: var(--editor-font);
}

#nav > span {
    padding: 20px;
    text-align: center;
    background-color: var(--standard-highlight4);
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

#nav > div {
    overflow-x: scroll;
    height: 100%;
    width: 100%;
}

#nav > div > ul {
    padding: 0px;
    margin: 10px;
}

#utilbar {
    width: auto;
    display: flex;
    position: absolute;
    background-color: white;
    transition: top 0.5s, left 0.5s;
}

#utilBar.directoryMode > #addButton, #utilBar.directoryMode > #addDirButton {
    display: inline-block !important;
}

#utilbar.directoryMode > * {
    display: initial !important;
}

#utilbar > #addButton, #utilbar > #addDirButton {
    display: none;
}

#completion {
    font-family: monospace;
    background-color: black;
    position: fixed;
    top: calc(2em + 2 * var(--standard-padding));
    right: 0px;
    display: inline-block;
    width: auto;
    padding: var(--standard-padding);
}

#weight {
    color: black;
}

.percentage {
    float: left;
}

#shortcuts {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    background-color: var(--standard-highlight1);
}

#shortcuts > div {
    padding: var(--standard-padding);
}

#settingsButton {
    position: absolute;
    right: 0px;
    top: 0px;
}

button, select {
    background-color: var(--button-bg);
    border: none;
    padding: var(--standard-padding);
}

button:hover, select:hover {
    background-color: var(--button-hovered);
}

#settingsMenu {
    background-color: var(--standard-highlight4);
    font-weight: bold;
    position: absolute;
    top: calc(1.2em + var(--standard-padding));
    left: 0px;
    height: calc(100vh - 1.2em);
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;
}

input.taskExpander {
    display: none;
}

label.taskExpandButton {
    display: block;
    text-align: center;
}

label.taskExpandButton:after {
    content: "^";
}

label.taskExpandButton {
    border: 1px dashed var(--standard-highlight2);
}

input.taskExpander:checked + label.taskExpandButton:after {
    content: "v"
}

div.task {
    padding: var(--standard-padding);
    padding-right: 0px;
    border-left: 2px solid var(--standard-highlight1);
    overflow: hidden;
}

input.taskExpander ~ div.task {
    height: 0px;
    padding: 0px;
}

input.taskExpander:checked ~ div.task {
    height: auto;
    padding: var(--standard-padding);
}